<tr>
  <td>
    <%= render :partial => 'shared/user_menu', :locals => {:writer => comment.writer, :size => "20x20"} %>
  </td>
  <td>
    <%= comment.content %>
  </td>
  <% if current_user == comment.writer %>
    <td>
      <a href="<%=everyday_comment_path(id: comment, page: params[:page]) %>" data-method="delete"><i class="icon-remove"></i></a>
    </td>
  <% end %>
</tr>

