<tr>
  <td>
    <%= user_profile_tag comment.writer %>
  </td>
  <td>
    <%= comment.content %>
  </td>
  <% if current_user == comment.writer %>
    <td>
      <%= link_to "<i class='icon-remove'></i>".html_safe, everyday_comment_path(id: comment, page: params[:page]), method: :delete %>
    </td>
  <% end %>
</tr>

