
<div class="offset3">
<h1>로그인</h1>
<%= form_tag authorize_path do %>
  아이디: <%= text_field_tag :username %> <br />
  비밀번호: <%= password_field_tag :password %><br />
  <%= submit_tag "login", class: "btn" %>
<% end %>
</div>
