
<div class="user_info_block">
  <span class="user"><%= image_tag writer.profile_image_thumb_url, size: size %><%= writer.nickname%></span>

  <ul class="user_menu">
    <li><%= link_to "프로필 페이지",profile_path(writer.id) %></li>
    <li><%= link_to "쪽지보내기", new_message_path(receiver_id: writer.id) %></li>
  </ul>

</div>
