<% unless @alarm_groups.nil? %>
  <ul>
    <% @alarm_groups.each_with_index do |alarm_group, index| %>
      <li class="<%= "new" if alarm_group.is_new %>">
      <%= image_tag alarm_group.alarm_profile_picture %>
      <%= alarm_group.alarm_text %>
      </li>
    <% end %>
  </ul>
<% end %>
