
<table id="article_box" class="table">
  <tr>
    <td><%= @article.title %> <div class="right">작성자:<%= @article.user.username%> </div></td>
  </tr>
  <tr>
    <td><%= @article.body %></td>
  </tr>
</table>
