
<table class="table">
  <thead>
    <tr>
      <td class="span2">읽음확인</td><td class="span7">내용</td><td><%= params[:type] == "receive" ? "보낸이" : "받는이" %></td>
    </tr>
  </thead>
  <tbody>
    <% for msg in @messages %>
      <tr> 
        <td><%= msg.read? ? "읽음" : "안읽음"%></td>
        <td><%= link_to  msg.content , message_path(msg) %></td>
        <td><%= params[:type] == "receive" ?  msg.sender.nickname : msg.receiver.nickname %></td>
      </tr>
    <% end %>
  </tbody>
</table>
