<table id="show_comments_box">
  <tr>
    <td class="bold">댓글</td>
  </tr>
  <% for comment in @comments %>
    <% if !comment.user.nil? %>
      <tr>
        <td>
          <span class="comment_writer">
            <%= comment.user.nickname %> 
          </span>
          <%= comment.content %>  
          <% if current_user == comment.user %>
            <%= link_to "삭제", comment_path(comment), method: "delete", confirm: "댓글을 삭제하시겠습니까?", class: "delete_btn right" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>

