<table id="show_comments_box">
  <tr>
    <td class="bold">댓글</td>
  </tr>
  <% for comment in @comments %>
    <tr>
      <td>
        <span>
          <%= comment.content %>  
        </span>
        <span class="comment_like_number">
          추천<%= comment.likes.count %>
        </span>
        <% if signin? %>
          <span>
            <% if comment.liked_by?(current_user) %>
              <%= link_to "추천취소", unlike_comment_path(comment.id) %>
            <% else %>
              <%= link_to "추천하기", "/like_comment/#{comment.id}" %>
            <% end %>
          </span>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

