<% content_for(:head) do %>
  <%= javascript_include_tag :comments %>
  <%= stylesheet_link_tag    :comments %>
<% end %>


<table id="show_comments_box">
  <tr>
    <td class="bold">댓글</td>
  </tr>
  <% for comment in @comments %>
    <%= render :partial => 'comments/show_comment', :locals => {:comment =>comment} %>
      <% end %>
</table>

