<%= form_for [:admin, @board], :html => {:class => ""} do |f| %>
  <table class="table" id="board_info" style="margin:0;">
    <tr>
      <th>이름</th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th>종류</th>
      <td>
        <%= f.select :board_type, [['일반게시판', "일반"], ['소꼬지게시판', "소꼬지"], ['익명게시판', "익명"], ['앨범게시판', "앨범"]] %>
      </td>
    </tr>
  </table>
  <%= f.submit(@board.new_record? ? "만들기" : "수정", :class => "btn")  %>
<% end %>
