<div id="tab_sidebar">
  <ul class="nav nav-tabs nav-stacked">
    <% for board in @boards %>
      <li>
      <a href="<%=articles_path(group_id: board.group.id, board_id: board.id)%>">
        <%= board.name %>
        <% if board.new_article? %>
					<span class="new"><%= image_tag "snumkg_main/new.png" %></span>
        <% end %>
      </a>
      </li>
    <% end %>

  </ul>
</div>

