<table class="table">
  <thead>
    <tr>
      <td>이름</td><td>연락처</td>
    </tr>
  </thead>
  <tbody>
    <% for user in @users %>
      <tr>
        <td><%= user.nickname%></td><td><%= user.phone_number if user.is_phone_number_public %></td>
      </tr>
    <% end %>
  </tbody>
</table>

