// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.right {float: right;}
.bold {font-weight: bold;}

#article_list {
	margin-bottom:5px;padding:0;width:100%;
	th {text-align:center;background-color:#f3f3f3;}
	td, th {padding:3px;border-bottom:1px solid #ddd;}
  .number {width:50px;text-align:center;}
  .title {}
  .sokkoji_date {width:105px;text-align:center;}
  .date {width:80px;text-align:center;}
  .writer {width:90px;text-align:center;}
  .view_count {width:50px;text-align:center;}
}

#article_box {
  width: 100%;
  border: 1px solid #ddd;
  
  td {
    padding: 1em;
    border-bottom: 1px solid #ddd;
  }
}

span#article_title {
  display: inline-block;
  font-weight: bold;
  font-size: 130%;
}

.article_writer {
  display: inline-block;
  float: right;
  margin-right: 2em;
  color: #777;
}

#article_body {
  margin-top: 1em;
}

.comment_number {

  font-size: 80%;
  color: red;
}

#show_comments_box {
  width: 100%;
  td {
    padding: 2px;
  }
  
}

#write_comment_box {
    margin: 0;
}

.comment_writer {
  display: inline-block; 
  font-weight: bold;
  margin-right: 1em;
}

//좋아요 숫자 표시
.article_like_number {
  display: inline-block; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; background: #ffe4e1; color: gray; text-align: center; font-weight: bold; font-size: 85%;
}

//좋아요 숫자 표시
.sokkoji_attendance_number {
  display: inline-block; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; background: #e4e1ff; color: gray; text-align: center; font-weight: bold; font-size: 85%;
}


.notice {
  background: #ffe4e1;
}
