// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#comment_box {
  display: inline;
}

.comment_like_number {
 display: inline-block;
  width: 40px;
  
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background: #ffe4e1;
  color: gray;
  text-align: center;
  font-weight: bold;
  font-size: 85%;

}

.like_list_btn {
  cursor: pointer;
  color: #66f;
}

.like_comment_list {
  position: absolute;
  background: #afa;
  display: none;

  li {
   list-style: none; 
  }
  
}
