// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

@mixin border($px) {

  border-radius: $px;
  -moz-border-radius: $px;
  -webkit-border-radius: $px;
}


.clear {
  clear: both;
}

.user_alarm {

  span {
    color: red;
    font-weight: bold;
  }
}

.comment_number {

  font-size: 80%;
  color: red;
}


#wrapper {
  width: 1000px;
  margin: auto;

}



#tab_sidebar {
  float: left;
  margin-right: 1em;
  ul {
    list-style: none;
    margin: 0;
    padding: 5px;
    width: 200px;
    height: 800px;
    border: 1px solid #aaa;
  }

  li {
    padding: 1em;
  }

}

//navigation menu
//

#logo_box {
  width: 142px;
  height: 70px;
  position: absolute;
  top: -30px;
  background: #3BDCB7;
  color: white;
  font-weight: bold;
  font-size: 200%;
  text-align: center;
}

#nav_container {
  position: relative;
}

#nav_container ul {

  li {
    list-style: none;
    display: inline-block;
    float: left;

  }
}

#my_info {

  background: #333131;
  height: 27px;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  left: 750px;
  z-index: 2;

  

  ul {
    margin: 0;
    padding: 0;
    float: right;
    text-align: center;

    > li {
      width: 80px;

      > a {
        position: relative;
        top: 8px;
        font-size: 95%;
        color: #F1F1F1;
        font-weight: bold;
      }

      a.up {
        top: -2px;
      }
    }
  }


  ul.my_info1 {
    height: 34px;
    float: left;
  }
}


#menu {
  position: relative;
  height: 37px;
  left: 150px;
  width: 857px;
  text-align: center;
  margin-top: 27px;
  margin-bottom: 1em;
  background: #8F8F8F;

  ul li {
    width: 150px;    
    padding: 10px 0;
    a {
      position: relative;
      font-size: 120%;
      color: #F1F1F1;
      letter-spacing: 3px;
      font-weight: bold;
    }

    a:hover {
      text-decoration: none;
      color: #222324;
    }
    ul.sub_menu {
      margin: 0;
      width: 150px;
      position: absolute;
      top: 37px;
      background: #A9A9A9;
      display: none;
      border-radius: 0 0 10px 10px;
      -moz-border-radius: 0 0 10px 10px;
      -webkit-border-radius: 0 0 10px 10px;

      li {
        padding: 0 0 1em 0;

        a {
          font-size: 110%;
        } 
      }

      :first-child {
        padding: 1em 0;
      }
    }
  }
}


//content
//
#content {
  float: left;
  width: 760px;
}

#footer {
  clear: both;
}


// user menu 
.user {
  cursor: pointer;
}

.user_menu {
 visibility: hidden;
 position: absolute;
 z-index: 2;
 background: white;

 li {
  list-style: none;
 }
}


// hidden login_box
ul li ul {
  list-style: none;
}

.login_box {
  position: absolute;
  visibility: hidden;
  background: white;
}
