#main_container {
	margin-top: 2em;
}

#main_column_1 {float:left;width:440px;margin:10px;margin-left:55px;}
#main_column_2 {float:left;width:440px;margin:10px;}

div.main_board div.board {
	margin: 1em 0 1em 0;
	td.boardname {width:20%;}
	td.writer {width:25%;text-align:center;}
	td.votecount {width:15%;text-align:center;}
	
	.comment_count {color:#f66;font-size:8pt;}
	.relative_time {font-size:8pt;color:#999;}
}

div.main_board div.board div.header {
	width: 100%;
	border-bottom: 3px solid #E0DADA;
}

div#event_list {
	margin-top: 1em;
	ul {
		list-style: none;
		li a {
			color: #F94172;
		}
	}
}

#main_picture_screen {
	float:left;border:1px solid #ddd;width:315px;height:355px;overflow:hidden;margin-right:5px;
	#main_picture_screen_title {position:absolute;background-color:black;color:white;opacity:0.6;width:309px;padding:3px;z-index:100;}
.screen_image {position:absolute;}
}
#main_picture_navigation {
	float:left;height:360px;width:60px;margin-left:20px;margin-top:7px;
	ul {
		list-style:none;margin:0;
		li {text-align:center;width:60px;margin-bottom:2px;}
		li.arrow {border:3px solid white;}
		li.photo {height:60px;border:3px solid white;cursor:pointer;}
		li.photo.selected {border:3px solid #f66;}
	}
}
