<h1><%= @group.name %></h1>
<div id="board_list">
	<ul>
		<% for board in @boards %>
			<li><%= link_to board.name, "#", :class => "board", :board_id => board.id %></li>
		<% end %>
	</ul>
  <div id="board_list_buttons">
    <%= link_to "[위로]", "#", :id => "board_up_button" %>
    <%= link_to "[아래로]", "#", :id => "board_down_button" %>
  </div>
</div>

<div id="board_content">
	adfadsf
</div>
