
<table>
  <% for article in @articles %>
    <tr>
      <td><%= article.title %> | 작성자: <%= article.user.username %></td>
    </tr>
    <tr>
      <td><%= article.body %></td>
    </tr>
  <% end %>
</table>
